<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FeedURL</key>
		<string>http://rgf.is/?format=feed&amp;type=rss</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://rgf.is/templates/yoo_venice/apple_touch_icon.png</string>
			<string>http://rgf.is/apple-touch-icon-precomposed.png</string>
			<string>http://rgf.is/apple-touch-icon.png</string>
			<string>http://rgf.is/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://rgf.is/?start=30</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://www.watchthescreen.com/feed/</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://www.watchthescreen.com/wp-content/themes/point/apple-touch-icon.png</string>
			<string>http://www.watchthescreen.com/apple-touch-icon-precomposed.png</string>
			<string>http://www.watchthescreen.com/apple-touch-icon.png</string>
			<string>http://www.watchthescreen.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.watchthescreen.com/category/technology/?mode=iins</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>Watch The Screen » Feed</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://images.apple.com/main/rss/hotnews/hotnews.rss</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://www.apple.com/apple-touch-icon-precomposed.png</string>
			<string>http://www.apple.com/apple-touch-icon.png</string>
			<string>http://www.apple.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.apple.com/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://www.superherohype.com/feed</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-152x152-precomposed.png</string>
			<string>http://www.superherohype.com/apple-touch-icon-precomposed.png</string>
			<string>http://www.superherohype.com/apple-touch-icon.png</string>
			<string>http://www.superherohype.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.superherohype.com/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0 Feed</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://www.superherohype.com/feed</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-152x152-precomposed.png</string>
			<string>http://cdn2-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-144x144-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-120x120-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-114x114-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-76x76-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-72x72-precomposed.png</string>
			<string>http://cdn2-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon.png</string>
			<string>http://hqporner.com/apple-touch-icon-precomposed.png</string>
			<string>http://hqporner.com/apple-touch-icon.png</string>
			<string>http://hqporner.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.superherohype.com/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0 Feed</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>https://www.tnaflix.com/rss/newvids.php</string>
		<key>SiteIconURLs</key>
		<array>
			<string>https://www.tnaflix.com/apple-touch-icon-precomposed.png</string>
			<string>https://www.tnaflix.com/apple-touch-icon.png</string>
			<string>https://www.tnaflix.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>https://www.tnaflix.com/amateur-porn/Allegra-Cole-on-my-face/video362660</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>50 Newest Porn Movies RSS Feed</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://feeds.feedburner.com/realhotnewhiphop</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://www.hotnewhiphop.com/apple-touch-icon-precomposed.png</string>
			<string>http://www.hotnewhiphop.com/apple-touch-icon.png</string>
			<string>http://www.hotnewhiphop.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.hotnewhiphop.com/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>Hot Updates @ HotNewHipHop</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://www.superherohype.com/feed</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-152x152-precomposed.png</string>
			<string>http://cdn2-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-144x144-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-120x120-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-114x114-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-76x76-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-72x72-precomposed.png</string>
			<string>http://cdn2-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon.png</string>
			<string>http://www.4tube.com/apple-touch-icon-precomposed.png</string>
			<string>http://www.4tube.com/apple-touch-icon.png</string>
			<string>http://www.4tube.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.superherohype.com/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0 Feed</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://www.superherohype.com/feed</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-152x152-precomposed.png</string>
			<string>http://cdn2-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-144x144-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-120x120-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-114x114-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-76x76-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-72x72-precomposed.png</string>
			<string>http://cdn2-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon-precomposed.png</string>
			<string>http://cdn1-www.superherohype.com/wp-content/themes/superherohype/apple-touch-icon.png</string>
			<string>http://www.superherohype.com/apple-touch-icon-precomposed.png</string>
			<string>http://www.superherohype.com/apple-touch-icon.png</string>
			<string>http://www.superherohype.com/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://www.superherohype.com/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0 Feed</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://rgf.is/?format=feed&amp;type=rss</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://rgf.is/templates/yoo_venice/apple_touch_icon.png</string>
			<string>http://rgf.is/apple-touch-icon-precomposed.png</string>
			<string>http://rgf.is/apple-touch-icon.png</string>
			<string>http://rgf.is/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://rgf.is/?start=15</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0</string>
	</dict>
	<dict>
		<key>FeedURL</key>
		<string>http://rgf.is/?format=feed&amp;type=rss</string>
		<key>SiteIconURLs</key>
		<array>
			<string>http://rgf.is/templates/yoo_venice/apple_touch_icon.png</string>
			<string>http://rgf.is/apple-touch-icon-precomposed.png</string>
			<string>http://rgf.is/apple-touch-icon.png</string>
			<string>http://rgf.is/favicon.ico</string>
		</array>
		<key>SourceURL</key>
		<string>http://rgf.is/</string>
		<key>State</key>
		<integer>2</integer>
		<key>SubscribedWhenSyncWasOff</key>
		<false/>
		<key>Title</key>
		<string>RSS 2.0</string>
	</dict>
</array>
</plist>
